$greenColor:#4bffa5;
#portfolio{
    background-color: #1c1d24;
}

.controls ul{
    list-style-type: none;
    li{
        display: inline-block;
        margin: 10px;
        padding-bottom: 5px;
        font-size: 16px;
        color: #fff;
    }
    li.mixitup-control-active{
        border-bottom: 2px solid $greenColor;
    }
}
@mixin figcaptionCss{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
} 
@mixin transitionImg{
    -webkit-transition: opacity 0.35s, transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}
.portfolio-con {
	position: relative;
	overflow: hidden;
	margin: 10px 1%;
	width: 100%;
	height: auto;
	background: $greenColor;
	text-align: center;
	cursor: pointer;
    background: -webkit-linear-gradient(-45deg, $greenColor 0%,#101010 100%);
	background: linear-gradient(-45deg, $greenColor 0%,#101010 100%);
    img{
        position: relative;
        display: block;
        min-height: 100%;
        max-width: 100%;
        opacity: 0.9;
        @include transitionImg;
    }
    figcaption {
        padding: 2em;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.25em;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        @include figcaptionCss;

        &:after{
        @include transitionImg;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        content: '';
        opacity: 0;
        -webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
        transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        }

        a{
      @include figcaptionCss;
      z-index: 3;
      text-indent: 200%;
      white-space: nowrap;
      font-size: 0;
      opacity: 0;
        }
    }

    h4{
        opacity: 1;
        -webkit-transform: scale3d(0.8,0.8,1);
        transform: scale3d(0.8,0.8,1);
        padding-top: 26%;
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
    }
    &:hover img{
        opacity: 0.7;
        -webkit-transform: scale3d(1.05,1.05,1);
        transform: scale3d(1.05,1.05,1);
    }
    &:hover h4{
        opacity: 1;
        -webkit-transform: scale3d(1,1,1);
        transform: scale3d(1,1,1);
    }
    &:hover figcaption::after{
        opacity: 1;
        -webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
        transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
    }
}
.ul-skills{
list-style-type: none;
li{
    display: inline-block;
    margin: 5px;
    padding: 5px 8px;
    background-color:$greenColor;
    color: #fff;
    border-radius: 5px;
}
}
.portfolio-modal h5{
color: #1c1d24;
}
.date-co span{
    color: #888;
}
.img-portfolio{
    max-width: 100%;
}
.owl-theme .owl-dots{
    display: none;
}
#galleryProduct .owl-prev, #galleryProduct .owl-next {
    width: 30px;
    height: 30px;
    color: #242829;
    text-align: center;
    background-color: #fff;
    position: absolute;
    top: 45%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    span{
        font-size: 40px;
        line-height: 27px;
    }
}

    #galleryProduct .owl-prev{
        left: -35px;
    }
 
    #galleryProduct .owl-next {
       right: -35px;
    }
@media screen and (max-width:767px){
    #galleryProduct .owl-next {
        right: -5px;
      }
      #galleryProduct .owl-prev{
        left: -5px;
    }
}