.header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    font-family:  'Poppins-medium';
.bg-dark{
    background-color: #101010 !important;
}
}
.header .navbar-light .navbar-nav .nav-link {
    color: rgba(255,255,255,.85);
    font-size: 15px;
    padding-right: 1rem;
padding-left: 1rem;
&:hover{
    color: #4bffa5;
}
  }
  .navbar-light .navbar-brand,.navbar-light .navbar-toggler{
    color: rgba(255,255,255,.85) !important;
&:hover{
    color: #fff;
}
  }